<div class="overlay is-hidden-events" data-events-modal>
  <div class="events__modal">
    <button class="btn-modal-close" data-events-modal-close></button>
    <ul class="events__list">
      <li class="events__item">
        <article class="events__box info">
          <img
            class="events__image"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2JAxzJs8KdaAbl3PiGcyJx-pW8UcRlwY03Q&usqp=CAU"
            data-source="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQte3TDqZM64YgkvS-xtpRaqG5IyoaAfK6skw&usqp=CAU"
            alt=""
          />
          <ul class="info__list">
            <li class="info__item">
              <h2 class="info__title">WHEN</h2>
              <p class="info__text">2021-06-09 20:00</p>
            </li>
            <li class="info__item">
              <h2 class="info__title">WHERE</h2>
              <p class="info__text">Kyiv, Ukraine VDNH</p>
            </li>
            <li class="info__item">
              <h2 class="info__title">PRICES</h2>
              <p class="info__text">Standart 300-500 UAH</p>
            </li>
          </ul>
        </article>
      </li>
      <li class="events__item">
        <article class="events__box">
          <img
            class="events__image"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQte3TDqZM64YgkvS-xtpRaqG5IyoaAfK6skw&usqp=CAU"
            data-source="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQte3TDqZM64YgkvS-xtpRaqG5IyoaAfK6skw&usqp=CAU"
            alt=""
          />
          <ul class="info__list">
            <li class="info__item">
              <h2 class="info__title">WHEN</h2>
              <p class="info__text">2021-06-09 20:00</p>
            </li>
            <li class="info__item">
              <h2 class="info__title">WHERE</h2>
              <p class="info__text">Kyiv, Ukraine VDNH</p>
            </li>
            <li class="info__item">
              <h2 class="info__title">PRICES</h2>
              <p class="info__text">Standart 300-500 UAH</p>
            </li>
          </ul>
        </article>
      </li>
      <li class="events__item">
        <article class="events__box">
          <img
            class="events__image"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3p3ecPEyadPTOmxdu-aO18LeBQI9f7pQ-4g&usqp=CAU"
            data-source="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQte3TDqZM64YgkvS-xtpRaqG5IyoaAfK6skw&usqp=CAU"
            alt=""
          />
          <ul class="info__list">
            <li class="info__item">
              <h2 class="info__title">WHEN</h2>
              <p class="info__text">2021-06-09 20:00</p>
            </li>
            <li class="info__item">
              <h2 class="info__title">WHERE</h2>
              <p class="info__text">Kyiv, Ukraine VDNH</p>
            </li>
            <li class="info__item">
              <h2 class="info__title">PRICES</h2>
              <p class="info__text">Standart 300-500 UAH</p>
            </li>
          </ul>
        </article>
      </li>
      <li class="events__item">
        <article class="events__box">
          <img
            class="events__image"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3p3ecPEyadPTOmxdu-aO18LeBQI9f7pQ-4g&usqp=CAU"
            data-source="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQte3TDqZM64YgkvS-xtpRaqG5IyoaAfK6skw&usqp=CAU"
            alt=""
          />
          <ul class="info__list">
            <li class="info__item">
              <h2 class="info__title">WHEN</h2>
              <p class="info__text">2021-06-09 20:00</p>
            </li>
            <li class="info__item">
              <h2 class="info__title">WHERE</h2>
              <p class="info__text">Kyiv, Ukraine VDNH</p>
            </li>
            <li class="info__item">
              <h2 class="info__title">PRICES</h2>
              <p class="info__text">Standart 300-500 UAH</p>
            </li>
          </ul>
        </article>
      </li>
      <li class="events__item">
        <article class="events__box">
          <img
            class="events__image"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3p3ecPEyadPTOmxdu-aO18LeBQI9f7pQ-4g&usqp=CAU"
            data-source="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQte3TDqZM64YgkvS-xtpRaqG5IyoaAfK6skw&usqp=CAU"
            alt=""
          />
          <ul class="info__list">
            <li class="info__item">
              <h2 class="info__title">WHEN</h2>
              <p class="info__text">2021-06-09 20:00</p>
            </li>
            <li class="info__item">
              <h2 class="info__title">WHERE</h2>
              <p class="info__text">Kyiv, Ukraine VDNH</p>
            </li>
            <li class="info__item">
              <h2 class="info__title">PRICES</h2>
              <p class="info__text">Standart 300-500 UAH</p>
            </li>
          </ul>
        </article>
      </li>
    </ul>
  </div>
</div>
