<div class="footer container">
    <p class="footer-copyright">© 2021 | All Rights Reserved | Developed with 
    <span class="footer-heart"> &#10084</span> by <a href class="footer-students"> GoIT Students</a></p>
    <!-- <div class="footer-modal"> -->
        <div class="backdrop-footer is-hidden-footer">
            <div class="footer-modal">
                <button class="modal-close-footer">
                <svg class="modal-icon-close-footer">
                <use href="/images/symbol-defs.svg#close"></use>
                </svg>
                </button>
            <ul class="students-info">
                <li class="students-item">
                    <img class="students-foto" src="/images/students/AnnaChebrova.jpg" alt="Anna Chebrova">
                    <h4 class="students-name">Анна Чеброва</h4>
                    <!-- <h5 class="students-position">Scrum Master</h5> -->
                    <ul>
                        <li class="students-icon">
                        </li>
                        <li class="students-icon"><a href="https://www.linkedin.com/in/%D0%B0%D0%BD%D0%BD%D0%B0-%D1%87%D0%B5%D0%B1%D1%80%D0%BE%D0%B2%D0%B0-654a92214/">
                        <svg width="20px" height="20px">
                        <use href="./images/sprite-footer.svg#icon-linkedin" width="20px" height="20px"></use>
                        </svg></a>
                        </li>
                    </ul>
                </li>
                
                <li class="students-item">
                    <img class="students-foto" src="/images/students/YriiHvozdetskiy.jpg" alt="Yrii Hvozdetskiy">
                    <h4 class="students-name">Юрий Гвоздецкий</h4>
                    <ul>
                        <li class="students-icon">

                        </li>
                        <li class="students-icon"><a href="https://www.linkedin.com/in/yrii-hvozdetskiy-2976211a9/">
                        <svg width="20px" height="20px">
                        <use href="./images/sprite-footer.svg#icon-linkedin" width="20px" height="20px"></use>
                        </svg></a>
                        </li>
                    </ul>
                </li>
                
                <li class="students-item">
                    <img class="students-foto" src="/images/students/VasylBarna.jpg" alt="Vasyl Barna">
                    <h4 class="students-name">Василий Барна</h4>
                    <ul>
                        <li class="students-icon">
                        </li>
                        <li class="students-icon"><a href="https://www.linkedin.com/in/%D0%B2%D0%B0%D1%81%D0%B8%D0%BB%D1%8C-%D0%B1%D0%B0%D1%80%D0%BD%D0%B0-453a30188/">
                        <svg width="20px" height="20px">
                        <use href="./images/sprite-footer.svg#icon-linkedin" width="20px" height="20px"></use>
                        </svg></a>
                        </li>
                    </ul>
                </li>

                <li class="students-item">
                    <img class="students-foto" src="/images/students/larysa-kaliuzhna.jpg" alt="Larysa Kaliuzhna">
                    <h4 class="students-name">Лариса Калюжна</h4>
                    <ul>
                        <li class="students-icon">
                        </li>
                        <li class="students-icon"><a href="https://www.linkedin.com/in/larysa-kaliuzhna-22a6b8207">
                        <svg width="20px" height="20px">
                        <use href="./images/sprite-footer.svg#icon-linkedin" width="20px" height="20px"></use>
                        </svg></a>
                        </li>
                    </ul>
                </li>
                
            </ul>
            </div>
        </div>

</div>
<!-- 
https://www.linkedin.com/in/yrii-hvozdetskiy-2976211a9/ 
 https://github.com/YriiHvozdetskiy

 https://www.linkedin.com/in/%D0%B2%D0%B0%D1%81%D0%B8%D0%BB%D1%8C-%D0%B1%D0%B0%D1%80%D0%BD%D0%B0-453a30188/
 https://github.com/VasylBarna

https://github.com/Larysa1387
www.linkedin.com/in/larysa-kaliuzhna-22a6b8207

https://github.com/DenisSgh
https://www.linkedin.com/in/denis-singh-643381207/

https://www.linkedin.com/in/андрей-бовкун-6a1a92214
https://github.com/BovkunAndrii -->