<div class="footer container">
    <p class="footer-copyright">© 2021 | All Rights Reserved | Developed with 
    <span class="footer-heart"> &#10084</span> by <a href class="footer-students"> GoIT Students</a></p>
    <!-- <div class="footer-modal"> -->
        <div class="backdrop-footer is-hidden-footer">
            <div class="footer-modal">
                <button class="modal-close-footer">
                    <svg class="modal-icon-close-footer">
                        <use href="/images/symbol-defs.svg#close"></use>
                      </svg>
                </button>
                <ul>
                    <li></li>
                </ul>

            </div> 
            </div>
                <!-- </div> -->
</div>
