<header>
  <!---->

  <div class="header__container">
    <section class="header-box">
    <!--  <img class="logo-img" src="./images/header-img/logo-mob/logo-mob-1x.png" alt="logo" />-->

      <h1 class="header-title">FIND BEST EVENTS AROUND THE WORLD</h1>

      

      <!-- 
       <form action="submit" class="header__searh-form">

        <div class="header__ivent-box">
            <input type="text" class="search-ivent-input" placeholder="Start searching" autocomplete="off" />
            <button type="submit" class="search-ivent__btn">Search</button>
        </div>
        <div class="header__country-box">
            
        <select name="" id="" class="select-country">
            <option></option>
            <option></option>
            <option></option>
        </select>

            
              <input type="text" class="search-country-input" placeholder="Choose country" />
            <input type="text" class="search-country-input" name="" id="" placeholder="Choose country"
                autocomplete="off" />
        </div>
    </form>
    --></section>
    <div class=logo-box>
<img class="logo-img" src="./images/header-img/logo-mob/logo-own-mob-1x.png" alt="logo">
      </div>
  </div>
  
  
</header>
