<header>
  <!---->

  <div class="header__container">
    <section class="header-box">
      <!--  <img class="logo-img" src="./images/header-img/logo-mob/logo-mob-1x.png" alt="logo" />-->

      <h1 class="header-title">FIND BEST EVENTS AROUND THE WORLD</h1>

     </section>

    <div class="logo-box">
      <picture>
        <source
          srcset="
            ./images/header-img/logo-mob/logo-own-mob-1x.png 1x,
            ./images/header-img/logo-mob/logo-own-mob-2x.png 2x,
            ./images/header-img/logo-mob/logo-own-mob-3x.png 3x
          "
          media="(max-width: 767px)"
        />

        <source
          srcset="
            ./images/header-img/logo-desc/logo-own-desc-1x.png 1x,
            ./images/header-img/logo-desc/logo-own-desc-2x.png 2x,
            ./images/header-img/logo-desc/logo-own-desc-3x.png 3x
          "
          media="(min-width: 1280px)"
        />

        <source
          srcset="
            ./images/header-img/logo-tab/logo-own-tab-1x.png 1x,
            ./images/header-img/logo-tab/logo-own-tab-2x.png 2x,
            ./images/header-img/logo-tab/logo-own-tab-3x.png 3x
          "
          media="(min-width: 768px)"
        />
        <img class="logo-img" src="./images/header-img/logo-mob/logo-own-mob-1x.png" alt="logo" />
      </picture>
    </div>
  </div>

   <!-- 
       <form action="submit" class="header__searh-form">

        <div class="header__ivent-box">
            <input type="text" class="search-ivent-input" placeholder="Start searching" autocomplete="off" />
            <button type="submit" class="search-ivent__btn">Search</button>
        </div>
        <div class="header__country-box">
            
        <select name="" id="" class="select-country">
            <option></option>
            <option></option>
            <option></option>
        </select>

            
              <input type="text" class="search-country-input" placeholder="Choose country" />
            <input type="text" class="search-country-input" name="" id="" placeholder="Choose country"
                autocomplete="off" />
        </div>
    </form>
    -->
</header>
