<div class="backdrop is-hidden" data-modal>
  <div class="container modal is open">
    <button class="modal-close" data-modal-close>
      <svg class="modal-icon-close" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M1.286 25a1.286 1.286 0 01-.909-2.196L22.804.377a1.286 1.286 0 111.82 1.819L2.195 24.623a1.29 1.29 0 01-.91.377z"
        />
        <path
          d="M23.715 25c-.33 0-.659-.125-.91-.377L.378 2.196A1.286 1.286 0 012.196.376l22.427 22.428A1.286 1.286 0 0123.715 25z"
        />
      </svg>
    </button>
    <div class="modal-data-second" data-insert></div>
  </div>
</div>
