<div class="backdrop is-hidden" data-modal>
  <div class="container modal is open">
    <button class="modal-close" data-modal-close>
      <svg class="modal-icon-close">
        <use href="/images/symbol-defs.svg#close"></use>
      </svg>
    </button>
    <div class="modal-data-second">
      <img
        class="modal-img-second"
        src="https://www.theplace.ru/archive/black_eyed_peas/img/54733_celebrity_para.jpg"
        alt="{{small images author}}"
      />
      <div class="modal-hero">
        <img
          class="modal-img-first"
          src="https://www.theplace.ru/archive/black_eyed_peas/img/54730_celebrity_para.jpg"
          alt="big images author"
        />
        <div class="modal-description">
          <h1 class="modal-title">INFO</h1>
          <p class="modal-text">
            Atlas Weekend is the largest music festival in Ukraine.More than 200 artists will create
            a proper music festival atmosphere on 10 stages
          </p>
          <h2 class="modal-title">WHEN</h2>
          <p class="modal-text">
            2021-06-09 <br />
            <span class="modal-text-first">20:00 (Kyiv/Ukraine)</span>
          </p>
          <h2 class="modal-title">WHERE</h2>
          <p class="modal-text">Kyiv, Ukraine</p>
          <p class="modal-text"></p>
          <h2 class="modal-title">WHO</h2>
          <p class="modal-text">
            The Black Eyed Peas<br />
            <span class="modal-text-first">VDNH</span>
          </p>
          <h2 class="modal-title">PRICES</h2>
          <p class="modal-text">
            <svg class="icon-ticket"><use href="/images/symbol-defs.svg#ticket1"></use></svg
            >Standart 300-500 UAH
          </p>
          <a href="{{url}}"><button class="modal-btn buy-standart">BUY TICKETS</button></a>
          <p class="modal-text">
            <svg class="icon-ticket"><use href="/images/symbol-defs.svg#ticket1"></use></svg>VIP
            1000-1500 UAH
          </p>
          <a href="{{url}}"><button class="modal-btn buy-vip">BUY TICKETS</button></a>
        </div>
      </div>
      <a href="{{url}}"
        ><button class="modal-btn-more btn" target="_blink">
          <span class="style-search">MORE FROM THIS AUTHOR</span>
        </button></a
      >
    </div>
  </div>
</div>
