.footer {
  position: relative;
  margin-top: 60px;
}

.footer-copyright {
  font-size: 16px;
  color: #939393;
  bottom: 19px;
  text-align: center;
  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}

.footer-heart {
  color: red;
}

.footer-students {
  font-size: 16px;
  color: #939393;
  font-weight: 600;
  text-decoration: underline;
  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}