header {
  background-color: rgba(11, 11, 11, 0.5);
  width: 100%;
}

.header__container {
  position: relative;
  overflow: hidden;

  width: 100%;

  margin-left: auto;
  margin-right: auto;

  padding: 0;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1200px;
  }
}

.header-box {
  padding-top: 80px;

  width: 100%;
  height: 364px;

  background-image: linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
    url(../images/header-img/bg-mob/bg-mob-1x.jpg);

  background-size: 320px 364px;
  background-position: center;
  // background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    background-image: url(../images/header-img/bg-tab/bg-tab-1x.jpg);
    background-size: 768px 364px;
  }

  @media screen and (min-width: 1280px) {
    height: 446px;
    background-image: url(../images/header-img/bg-desc/bg-desc-1x.jpg);
    background-size: 1280px 446px;
  }
}

.header-title {
  margin-right: auto;
  margin-left: auto;
  width: 212px;
  height: 44px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #dc56c5;

  @media screen and (min-width: 768px) {
    font-size: 30px;
    line-height: 37px;

    width: 353px;
    height: 74px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 50px;
    line-height: 61px;

    width: 588px;
    height: 122px;
  }
  //outline: solid 2px red;
}

.logo-box {
  position: absolute;
  top: -90px;
  left: -107px;

  width: 213px;
  height: 180px;

  cursor: pointer;
  background: linear-gradient(
    136.07deg,
    rgba(196, 196, 196, 0.03) 10.75%,
    rgba(196, 196, 196, 0) 92.33%
  );
  backdrop-filter: blur(30px);

  :hover {
    transform: rotate(90deg);
  }
  :focus {
    transform: rotate(90deg);
  }

  border-radius: 50%;
  outline: solid 2px yellow;
}

.logo-img {
  position: absolute;
  bottom: 0;
  right: 0;
}
