header {
  // background-color: rgba(11, 11, 11, 0.5);
  background-color: rgb(14, 14, 14);
  width: 100%;
}

.header__container {
  position: relative;
  overflow: hidden;

  width: 100%;

  margin-left: auto;
  margin-right: auto;

  padding: 0;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1200px;
  }
}

.header-box {
  padding-top: 78px;

  width: 100%;
  height: 364px;

  background-image: linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
    url(../images/header-img/bg-mob/bg-mob-1x.jpg);

  background-size: 320px 364px;
  background-position: center;
  // background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    padding-top: 40px;

    background-image: linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
      url(../images/header-img/bg-tab/bg-tab-1x.jpg);
    background-size: 768px 364px;
  }

  @media screen and (min-width: 1280px) {
    height: 446px;
    background-image: linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)),
      url(../images/header-img/bg-desc/bg-desc-1x.jpg);
    background-size: 1280px 446px;
  }
}

.header-title {
  margin-right: auto;
  margin-left: auto;
  width: 212px;
  height: 44px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #dc56c5;

  @media screen and (min-width: 768px) {
    font-size: 30px;
    line-height: 37px;

    width: 353px;
    height: 74px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 50px;
    line-height: 61px;

    width: 650px;
    height: 122px;
  }
  //outline: solid 2px red;
}

.logo-box {
  position: absolute;
  z-index: 1000;
  top: -90px;
  left: -107px;

  width: 213px;
  height: 180px;

  background: linear-gradient(
    136.07deg,
    rgba(196, 196, 196, 0.03) 10.75%,
    rgba(196, 196, 196, 0) 92.33%
  );
  backdrop-filter: blur(30px);

  :hover {
    transform: rotate(90deg);
  }
  :focus {
    transform: rotate(90deg);
  }
  cursor: pointer;
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    top: -151px;
    left: -180px;

    width: 359px;
    height: 302px;
  }

  @media screen and (min-width: 1280px) {
    top: -201px;
    left: -238px;

    width: 477px;
    height: 402px;
  }
  // outline: solid 2px yellow;
}

.logo-img {
  position: absolute;
  z-index: 1001;
  bottom: 0;
  right: 0;
}

.header-overlay {
  position: absolute;
  z-index: 1003;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 102px;

  background: linear-gradient(180deg, rgba(13, 13, 13, 0) 0%, rgba(14, 14, 14, 0.8) 100%);

  @media screen and (min-width: 768px) {
    width: 768px;
    height: 102px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    height: 102px;

    background: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%);
  }
}

.header-favorites-btn {
  position: absolute;
  top: 20px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-color: rgba(11, 11, 11, 0.2);
  background-image: url(../images/header-img/star-btn/star-head.png);
  background-size: 25px 25px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;

  @media screen and (min-width: 768px) {
    top: 35px;
    right: 87px;
  }

  @media screen and (min-width: 1280px) {
    top: 35px;
    right: 115px;
    width: 40px;
    height: 40px;
    background-size: 35px 35px;
  }

  :hover {
    background-color: rgb(255, 255, 255);
  }
  :focus {
    background-color: rgb(255, 255, 255);
  }
}
