.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 25px;
  padding-left: 25px;
  @media screen and (max-width: 767px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-right: 80px;
    padding-left: 80px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-right: 175px;
    padding-left: 175px;
  }
}
.cards-list {
  position: relative;
  top: -44px;
  left: 0;
  z-index: 16;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: 320px) {
    margin: -7px;
  }
  @media screen and (min-width: 768px) {
    margin: -13px;
  }
  @media screen and (min-width: 1280px) {
    margin: -35px;
    // margin: -50px -35px;
  }
}
.event-card {
  text-align: center;
  margin: 7px 7px 30px 7px;
  @media screen and (min-width: 320px) {
    width: 128px;
  }
  @media screen and (min-width: 768px) {
    width: 180px;
    margin: 13px 14px 45px 14px;
  }
  @media screen and (min-width: 1280px) {
    // margin: 35px 35px 50px 35px;
    margin: 35px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover,
  &:focus {
    cursor: pointer;
    transform: translateY(-20px);
    outline: transparent;
  }
}
.card-image {
  height: 161px;
  // height: auto;
  border-radius: 50px 0px;
  overflow-y: auto;
  @media screen and (min-width: 768px) {
    height: 227px;
  }
}
.align > p {
  padding-top: 5px;
}
.card-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.21;
  color: $accent-color;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.25;
  }
}
.event-date {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: $secondary-color;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.25;
  }
}
.event-location {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: $secondary-color;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.21;
  }
}

.material-icons {
  @media screen and (max-width: 1280px) {
    font-size: 11px;
  }
  font-size: 13px;
}
