body.data-modal-open {
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(3px);
  transition: opacity 250ms $time-distribution-function;
  overflow-y: scroll;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-open {
  overflow: hidden;
}
.modal {
  margin: 0;
  padding-top: 75px;
  padding-right: 17px;
  padding-bottom: 104px;
  padding-left: 12px;
  width: 272px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $modal-bg;
  border-radius: 150px 0px;
  background-blend-mode: color;
  @media screen and (min-width: 768px) {
    padding-top: 28px;
    padding-right: 10px;
    padding-bottom: 56px;
    padding-left: 60px;
    width: 595px;
    top: 50%;
    border-radius: 300px 0px;
  }
  @media screen and (min-width: 1280px) {
    padding: 62px 32px;
    width: 930px;
    max-height: 1023px;
    top: 50%;
  }
}
.modal-hero {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  @media screen and (min-width: 768px) {
    margin-bottom: 43px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 45px;
  }
}
.modal-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin-left: 30px;
    display: block;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 60px;
  }
}

.modal-title {
  margin-bottom: 5px;
  font-family: $primary-font;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0em;
  color: $accent-color;
  text-transform: uppercase;
  @media screen and (min-width: 1280px) {
    margin-bottom: 7px;
    font-size: 24px;
    line-height: 1.21;
  }
}
.modal-text {
  max-height: 70px;
  overflow: auto;
  margin-bottom: 10px;
  font-family: $primary-font;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0em;
  text-align: center;
  color: $primary-text-color;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.22;
  }
}

.modal-text-first {
  margin-top: 3px;
  display: block;
  @media screen and (min-width: 1280px) {
    margin-top: 5px;
  }
}
.modal-img-second {
  margin-right: auto;
  margin-bottom: 8px;
  margin-left: auto;
  width: 102px;
  max-height: 102px;
  object-fit: cover;
  background: #c4c4c4;
  border-radius: 50px;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
    width: 70px;
    height: 70px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 41px;
    width: 132px;
    height: 132px;
  }
  &:hover {
    transform: scale(1.1);
    border-radius: 50px 0px;
    box-shadow: 0 10px 5px -5px $bg-btn-color;
    transition: opacity 250ms $time-distribution-function;
  }
}

.modal-img-first {
  display: none;
  @media screen and (min-width: 768px) {
    width: 233px;
    height: 416px;
    display: block;
  }
  @media screen and (min-width: 1280px) {
    width: 360px;
    height: 641px;
    display: block;
  }
}

.modal-btn {
  padding: 10px 19px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  background-color: $bg-btn-color;
  color: $secondary-color;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  &:hover,
  &:active {
    letter-spacing: 4px;
    background-color: $accent-color;
    transition: color 250ms $time-distribution-function;
  }
}
.modal-btn:after,
.modal-btn:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: ' ';
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.modal-btn:hover:after,
.modal-btn:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 100%;
}

.modal-btn:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}
.buy-standart {
  margin-bottom: 20px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 31px;
  }
}

.modal-btn-more {
  padding: 10px 3px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: $modal-secondary-color;
  border: 1px solid $modal-secondary-color;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  background: linear-gradient(0.25turn, #b6d9fa, #ffffff, #f5c0ed);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  @media screen and (min-width: 768px) {
    padding: 10px 15px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    border: 1px solid $accent-color;
  }
}
.style-search {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.style-search:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.modal-btn-more:hover .style-search {
  padding-right: 25px;
}

.modal-btn-more:hover .style-search:after {
  opacity: 1;
  right: 0;
}
.modal-close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 25px;
  height: 25px;
  padding: 0;
  z-index: inherit;
  cursor: pointer;
  color: $bg-btn-color;
  background-color: transparent;
  outline: transparent;
  border: none;
  transition: color 250ms $time-distribution-function;
  &:focus,
  &:hover {
    color: $accent-color;
  }
}
.modal-icon-close {
  width: 25px;
  height: 25px;
  fill: currentColor;
  transition: color 250ms $time-distribution-function;
}
.icon-ticket {
  margin-right: 13px;
  vertical-align: bottom;
  &:hover {
    transform: scale(2);
    box-shadow: 0 10px 5px -5px $bg-btn-color;
    transition: opacity 250ms $time-distribution-function;
  }
}
